{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css"/>
{% endblock %}


{% block content %}
	<body>
		<section class="d-flex justify-content-start">
			<div class="">
				<h1 class="d-flex flex-column justify-content-center mt-5 m-5">
					Space Z</h1>
			</div>
		</section>

			<div class="m-auto homePage position-absolute fixed-bottom mb-5 ">
				<a href="" class="btn">Rejoins l'aventure</a>
			</div>

	</body>
{% endblock %}
