{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/thank.css"/>
{% endblock %}


{% block content %}
	<body>
		<section class="homePage d-flex justify-content-start">
			<div>
				<h1 class="d-flex flex-column justify-content-center mt-5 px-5">
					Bon voyage</h1>
			</div>
		</section>
        <div class="tardisferme px-5">
		<section class="top-50">
			<div class="d-flex justify-content-end align-self-center homeTardis position-absolute p-2 bottom-0 end-0">
				<a href="/">
					<svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor" class="bi bi-arrow-right-short" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
					</svg>
				</a>
			</div>
            </div>
		</section>

		{% include "_footer.html.twig" %}

	</body>
{% endblock %}