h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Naza;
    font-size: calc(40vw / 10);
    text-shadow: 2px 2px 3px grey;
  }
    
  body {
    background-image: url(/assets/images/Photo\ terre.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .form {
    
    font-family: Naza;  
    
  }

  .homeFooter a {
    color: white;
    text-shadow: 2px 2px 3px #303236;
  }

 

  