h1 {
  color: #153363;
  font-family: var(--font_title);
  font-size: calc(60vw / 10);
  text-shadow: 2px 2px 3px #c2f8fd; 
}

h1:hover {
  font-size: calc(61vw / 10);
}

body {
  background-image: url(/assets/images/PhotoTerre.webp);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homePage  {

  width: fit-content;

}

.homePage a {

  background-color: #153363;
 color: white;
  
}