.homePage h1 {
  color: #ffffff;
  font-family: var(--font_title);
  font-size: calc(60vw / 10);
  text-shadow: 2px 2px 3px #303236;
}

body {
  background-image: url(/assets/images/PhotoTerre.webp);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.homePage {
  width: fit-content;
}

.homeFooter h2 {
  color: white;
  font-family: var(--font_title);
  text-shadow: 1px 1px 2px #c2f8fd;
  font-size: var(--font_title);
  padding-top: 5px;
  padding-right: 25px;
}

.homeFooter div {
  background-color: #171c24;
  padding-left: 0px;
  padding-right: 0px;
}

.homeFooter {
  padding-left: 0px;
  padding-right: 0px;
}

.homeTardis svg {
color: white;
text-shadow: 2px 2px 3px #303236;
}