.homePage h1 {
  color: #ffffff;
  font-family: var(--font_main_title);
  font-size: calc(60vw / 10);
  text-shadow: 2px 2px 3px #303236;
}

body {
  background-image: url(/assets/images/PhotoTerre.webp);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  font: 400 1em/1.5 "Neuton";
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

.homePage {
  width: fit-content;
}

.homeFooter h2 {
  color: white;
  font-family: var(--font_main_title);
  text-shadow: 1px 1px 2px #c2f8fd;
  padding-top: 5px;
  padding-right: 25px;
  font-size: 15px;
}

.homeFooter div {
  background-color: #171c24;
  padding-left: 0px;
  padding-right: 0px;
}

.homeFooter {
  padding-left: 0px;
  padding-right: 0px;
}

.homeFooter a {
  color: white;
  text-shadow: 2px 2px 3px #303236;
}

.arrow svg {
  color: white;
  text-shadow: 2px 2px 3px #303236;
}

.homePage p {
  color: #ffffff;
  font-family: var(--font_main_title);
  font-size: calc(10vw / 10);
  text-shadow: 2px 2px 3px #303236;
}

p {
  color: white;
  font-style: italic;
  font-size: calc(10vw / 10);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border-width: 4px 0;
  padding: 1.5em 0em;
  top: 20%;
  left: 50%;
  width: 30em;
  margin: 0 0 0 -20em;
  text-shadow: 2px 2px 3px  #171c24;
}
p span {
  color: transparent;
  font-style: normal;
  font-family: var(--font_main_title);
  font-size: calc(45vw / 10);
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(/assets/images/animated-text-fill.png) repeat-y;
  background-clip: text;
  background-clip: text;
  /* Animate Background Image */
   text-emphasis-color: transparent;
  animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

