.background-image {
  background-image: url("../images/different-solar-system-galaxy-live-1i5cp36dlzghw3yx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.planet-background {
  background-color: transparent;
}

.title,
.subtitle {
  color: #ffffff;
  font-family: var(--font_title);
  font-size: calc(40vw / 10);
  text-shadow: 2px 2px 3px #303236;
}

.text {
  font-family: var(--font_body);
}

.homeFooter a {
  color: white;
  text-shadow: 2px 2px 3px #303236;
}

.planeteUrl svg {
  color: white;
  text-shadow: 2px 2px 3px #303236;
}

.para{
  text-shadow: 4px 2px 2px black;
}


h1 p {
  font-style: italic;
  font-size: calc(12vw / 10);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border-width: 4px 0;
  padding: 1.5em 0em;
  top: 20%;
  left: 50%;
  width: 30em;
  margin: 0 0 0 -20em;
  text-shadow: 2px 2px 3px #171c24;
}
p span {
  
  font-style: normal;
  font-family: var(--font_main_title);
  font-size: calc(25vw / 10);
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(/assets/images/animated-text-fill.png) repeat-y;
  background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  text-emphasis-color: transparent;
  animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
