.background-image {
  background-image: url("../images/different-solar-system-galaxy-live-1i5cp36dlzghw3yx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.planet-background{
    background-color: transparent;
}

.title, .subtitle {
    font-family: var(--font_main_title);
    }

.text {
    font-family: var(--font_body);
}
