.backImg {
  background-image: url(/assets/images/404.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#test {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test1 {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test2 {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test3 {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test4 {
  width: fit-content;
  background-color: transparent;
  border: none;
}

.bLink {
  transition: transform 0.1s;
  background-color: transparent;
  width: 380px;
  height: 350px;
}

.aLink {
  transition: transform 0.1s;
  background-color: transparent;
  width: 380px;
  height: 350px;
}

.aLink:hover {
  border-radius: 70%;
  width: 350px;
}

.bLink:hover {
  width: 300px;
}

.planete1 {
  position: absolute;
  top: 50px;
  right: 200px;
}
.planete2 {
  position: absolute;
  top: 100px;
  left: 200px;
}
.planete3 {
  position: absolute;
  bottom: 150px;
  right: 100px;
}
.planete4 {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.planete5 {
  position: absolute;
  bottom: 30px;
  right: 47%;
}

.title {
  color: #ffffff;
  font-family: var(--font_main_title);
  font-size: calc(59vw / 10);
  text-shadow: 2px 2px 3px #303236;
}

.homeFooter h2 {
  color: white;
  font-family: var(--font_main_title);
  text-shadow: 1px 1px 2px #c2f8fd;
  padding-top: 5px;
  padding-right: 25px;
  font-size: 15px;
}

.homeFooter div {
  background-color: #171c24;
  padding-left: 0px;
  padding-right: 0px;
}

.homeFooter {
  padding-left: 0px;
  padding-right: 0px;
}

.homeTardis svg {
  color: white;
  text-shadow: 2px 2px 3px #303236;
}

