.backImg {
  background-image: url(/assets/images/different-solar-system-galaxy-live-1i5cp36dlzghw3yx.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#test {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test1 {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test2 {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test3 {
  width: fit-content;
  background-color: transparent;
  border: none;
}
#test4 {
  width: fit-content;
  background-color: transparent;
  border: none;
}

.bLink {
  transition: transform 0.1s;
  background-color: transparent;
  width: 380px;
  height: 350px;
}

.aLink {
  transition: transform 0.1s;
  background-color: transparent;
  width: 380px;
  height: 350px;
}

.aLink:hover {
  border-radius: 70%;
  width: 350px;
}

.bLink:hover {
  width: 350px;
}

.planete1 {
  position: absolute;
  top: 150px;
  right: 200px;
}
.planete2 {
  position: absolute;
  top: 100px;
  left: 200px;
}
.planete3 {
  position: absolute;
  bottom: 100px;
  right: 200px;
}
.planete4 {
  position: absolute;
  bottom: 100px;
  left: 100px;
}
.planete5 {
  position: absolute;
  bottom: 30px;
  right: 47%;
}

.title {
  color: #ffffff;
  font-family: var(--font_title);
  font-size: calc(60vw / 10);
  text-shadow: 3px 3px 4px #303236;
}

.homeFooter h2 {
  color: white;
  text-shadow: 1px 1px 2px #c2f8fd;
  padding-top: 5px;
  padding-right: 25px;
  font-size: 15px;
}

.homeFooter div {
  background-color: #171c24;
  padding-left: 0px;
  padding-right: 0px;
}

.homeFooter {
  padding-left: 0px;
  padding-right: 0px;
}

.homeTardis svg {
  color: white;
  text-shadow: 2px 2px 3px #303236;
}

p {
  font-style: italic;
  font-size: calc(12vw / 10);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border-width: 4px 0;
  padding: 1.5em 0em;
  top: 20%;
  left: 50%;
  width: 30em;
  margin: 0 0 0 -20em;
  text-shadow: 2px 2px 3px #171c24;
}
p span {
  
  font-style: normal;
  font-family: var(--font_main_title);
  font-size: calc(25vw / 10);
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(/assets/images/animated-text-fill.png) repeat-y;
  background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  text-emphasis-color: transparent;
  animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
