h1 {

  display: flex;
  justify-content: center;
  color: white;
  font-family: var(--font_title);
  font-size: calc(40vw / 10);
  text-shadow: 2px 2px 3px grey;
}

body {
  background-image: url(/assets/images/thanks.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}




html {
  height: 100%;
  min-height: 600px;
}

body {
  text-align: center;
  min-height: 600px;
}

.tHold {
  perspective: 300px;
  transform-style: preserve-3d;
  margin-top: 240px;
}

.tPos {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
  transform: translateY(150px);
  animation: tPos 10s ease-in-out infinite;
}

.tRot {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform: rotateY(135deg);
  transform-style: preserve-3d;
  animation: tSpin 4s linear infinite;
}

.tRot div,
.tRot div:after,
.tRot div:before {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5) inset;
  transform-style: preserve-3d;
}

.tSide {
  position: absolute;
  height: 80px;
  width: 50px;
  background: #24a;
}

.tSideF {
  transform: translateY(-80px) translateX(-25px) translateZ(25px);
}

.tSideL {
  transform: translateY(-80px) translateX(-25px) rotateY(90deg) translateZ(25px);
}

.tSideR {
  transform: translateY(-80px) translateX(-25px) rotateY(-90deg) translateZ(25px);
}

.tSideB {
  transform: translateY(-80px) translateX(-25px) rotateY(180deg) translateZ(25px);
}

.tTop {
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  border: 1px solid #24a;
  border-width: 0 25px 30px 25px;
  border-color: transparent transparent #24a;
  transform: translateY(-34px) translateZ(-13px) rotateX(55deg);
}

.tSign {
  position: absolute;
  height: 10px;
  width: 60px;
  top: 0;
  left: 0;
  background: inherit;
  transform: translateY(-10px) translateZ(5px) translateX(-5px);
}

.tSign:before {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: #000;
  content: "POLICE\a0\a0=\a0\a0\a0BOX";
  color: #fff;
  font-size: 0.4em;
  line-height: 8px;
}

.tSignTop {
  width: 60px;
  height: 60px;
  background: #24a;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-120px) translateX(-30px) rotateX(90deg);
}

.tSignTop:before {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-10px) rotateY(180deg);
}

.tBase {
  transform: translateY(-30px) translateX(-30px) rotateX(90deg);
}

.tBase:before {
  transform: translateZ(-3px) rotateY(180deg);
}

.tBaseSide {
  position: absolute;
  height: 3px;
  width: 60px;
  top: 0;
  left: 0;
  background: inherit;
  transform: translateY(80px) translateZ(5px) translateX(-5px);
}

.tRot .tPanel {
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 0 10px rgba(0, 0, 0, .1) inset;
  width: 23px;
  height: 76px;
}

.tRot .tPanelL {
  left: auto;
  right: 2px;
}

.tPanel:before,
.tPanel:after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: 2px;
  width: 19px;
  height: 23px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 0 10px rgba(0, 0, 0, .1) inset;
  transform: translateZ(0.2px);
}

.tPanel:after {
  bottom: 27px;
}

.tRot .tWindowT,
.tRot .tWindowT:before,
.tRot .tWindowT:after,
.tRot .tWindowB,
.tRot .tWindowB:after,
.tRot .tWindowB:before {
  width: 4px;
  height: 8px;
  background: #fff;
  position: absolute;
  left: 4px;
  top: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5) inset;
  transform: translateZ(0.2px);
}

.tRot .tWindowB:after,
.tRot .tWindowB:before,
.tRot .tWindowT:before,
.tRot .tWindowT:after {
  top: 0;
  left: 6px;
  content: "";
}

.tRot .tWindowT:after,
.tRot .tWindowB:after {
  left: 12px;
}

.tRot .tWindowB {
  top: 14px;
}

.tNotice {
  position: absolute;
  left: 5px;
  top: 30px;
  background: #ddb;
  width: 13px;
  height: 16px;
  transform: translateZ(0.2px);
}

.tRot .tNotice:before {
  content: "Police Telephone Free for use of Public";
  box-shadow: none;
  text-align: center;
  width: 70px;
  position: absolute;
  transform: scale(0.12);
  transform-origin: top left;
  left: 2px;
  top: 2px;
}

.tRot .tNotice:after {
  content: "";
  position: absolute;
  left: 28px;
  top: 5px;
  width: 3px;
  height: 3px;
  background: #24a;
  box-shadow: 0 0 0 2px #f5f5f5;
  border-radius: 99px;
  transform: translateZ(0.2px);
}

.tLight {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  transform: translateY(-115px) translateX(-4px);
}

.tRot .tLightSide {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 11px;
  background: #fff;
  transform: translateZ(6px);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) inset;
  animation: tLight 2s linear infinite;
}

.tRot .tLightSide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 11px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) inset;
  transform: translateZ(-12px) rotateY(180deg);
  animation: tLight 2s linear infinite;
}

.tRot .tLightSide1 {
  transform: rotateY(45deg) translateZ(6px);
}

.tRot .tLightSide2 {
  transform: rotateY(90deg) translateZ(6px);
}

.tRot .tLightSide3 {
  transform: rotateY(135deg) translateZ(6px);
}

.tLight:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  background: #24a;
  border-radius: 99px;
  transform: translateY(-7px) translateX(-4px) rotateX(-90deg);
}

.vortex {
  padding: 200px;
  display: inline-block;
  border-radius: 999px;
  margin-top: -110px;
  margin-left: -50px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.vSpark {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: vSpin 10s linear reverse infinite;
}

.vSpark:after,
.vSpark:before {
  content: "\f3c";
  font-size: 3em;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 0;
  height: 0;
  text-shadow: 0 0 2px rgba(209, 250, 255, 1);
  box-shadow: 12px 35px 40px 20px rgba(209, 250, 255, .8);
  color: transparent;
  animation: vSpark 5s linear infinite;
}

.vSpark:after {
  animation-delay: -1.5s;
}

.vCloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  animation: vSpin 4s linear infinite;
  
}


@keyframes tLight {
  0% {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) inset, 0 0 10px 0 rgba(255, 255, 255, 1);
  }

  40% {
    background: #777;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) inset, 0 0 0 0 rgba(255, 255, 255, .3);
  }

  60% {
    background: #777;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) inset, 0 0 0 0 rgba(255, 255, 255, .3);
  }

  100% {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) inset, 0 0 10px 0 rgba(255, 255, 255, 1);
  }
}

@keyframes tSpin {
  from {
    transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateZ(360deg) rotateY(-1800deg);
  }
}

@keyframes vSpin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tPos {
  0% {
    transform: translateY(150px) translateX(0px) translateZ(0px);
  }

  10% {
    transform: translateY(180px) translateX(30px) translateZ(-60px);
  }

  20% {
    transform: translateY(140px) translateX(-10px) translateZ(-180px);
  }

  40% {
    transform: translateY(190px) translateX(-30px) translateZ(-280px);
  }

  70% {
    transform: translateY(160px) translateX(10px) translateZ(-100px);
  }

  80% {
    transform: translateY(140px) translateX(30px) translateZ(-40px);
  }

  100% {
    transform: translateY(150px) translateX(0px) translateZ(0px);
  }
}

@keyframes vSpark {
  0% {
    opacity: 0;
    top: 40%;
    left: 30%;
    transform: rotate(90deg) scale(1);
  }

  10% {
    opacity: 0;
    top: 40%;
    left: 30%;
    transform: rotate(90deg) scale(1);
  }

  11% {
    opacity: 1;
    top: 40%;
    left: 30%;
    transform: rotate(90deg) scale(1);
  }

  12% {
    opacity: 0;
    top: 40%;
    left: 30%;
    transform: rotate(90deg) scale(1);
  }

  35% {
    opacity: 0;
    top: 20%;
    left: 70%;
    transform: rotate(-10deg) scale(1);
  }

  36% {
    opacity: 1;
    top: 20%;
    left: 70%;
    transform: rotate(-10deg) scale(1);
  }

  37% {
    opacity: 0;
    top: 20%;
    left: 70%;
    transform: rotate(-10deg) scale(1);
  }

  55% {
    opacity: 0;
    top: 10%;
    left: 50%;
    transform: rotate(10deg) scale(0.8);
  }

  56% {
    opacity: 1;
    top: 10%;
    left: 50%;
    transform: rotate(10deg) scale(0.8);
  }

  57% {
    opacity: 0;
    top: 10%;
    left: 50%;
    transform: rotate(10deg) scale(0.8);
  }

  58% {
    opacity: 0;
    top: 10%;
    left: 48%;
    transform: rotate(20deg) scale(0.7);
  }

  59% {
    opacity: 1;
    top: 10%;
    left: 48%;
    transform: rotate(20deg) scale(0.7);
  }

  60% {
    opacity: 0;
    top: 10%;
    left: 48%;
    transform: rotate(20deg) scale(0.7);
  }

  82% {
    opacity: 0;
    top: 80%;
    left: 60%;
    transform: rotate(-120deg) scale(1.2);
  }

  83% {
    opacity: 1;
    top: 80%;
    left: 60%;
    transform: rotate(-120deg) scale(1.2);
  }

  84% {
    opacity: 0;
    top: 80%;
    left: 60%;
    transform: rotate(-120deg) scale(1.2);
  }

  100% {
    opacity: 0;
    top: 80%;
    left: 60%;
    transform: rotate(-120deg) scale(1);
  }
}

p {
  color: white;
  font-style: italic;
  font-size: calc(10vw / 10);
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border-width: 4px 0;
  padding: 1.5em 0em;
  top: 20%;
  left: 50%;
  width: 30em;
  margin: 0 0 0 -20em;
  text-shadow: 2px 2px 3px  #171c24;
}
p span {
  color: transparent;
  font-style: normal;
  font-family: var(--font_main_title);
  font-size: calc(40vw / 10);
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(/assets/images/animated-text-fill.png) repeat-y;
  background-clip: text;
  background-clip: text;
  /* Animate Background Image */
   text-emphasis-color: transparent;
  animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}