h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Nasalization;
    font-size: calc(40vw / 10);
    text-shadow: 2px 2px 3px grey;
  }
    
  body {
    background-image: url(/assets/images/Photo\ terre.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tardisferme{
    background-image: url(/assets/images/Tardispretasenvoler.png);
    background-repeat: no-repeat;
    background-size: cover;   
    height: 80px;
    width: 60px;
  }