{% extends "visitor_layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/SolarS.css"/>
{% endblock %}

{% block content %}
	<body class="backImg">
		<div>
			<div class="planete2">
				<a href="/planet?id=1" id="test" class="text-decoration-none"><img id="pwouette" class="bLink" src='/assets/images/mars.png'></a>
			</div>
			<div class="planete1">
				<a href="/planet?id=2" id="test1" class="text-decoration-none"><img id="pwouette1" class="aLink" src='/assets/images/jupiter.png'></a>
			</div>
			<h2 class="d-flex justify-content-center text-white title">Système Solaire</h2>
			<div class="planete4">
				<a href="/planet?id=3" id="test2" class="text-decoration-none"><img id="pwouette2" class="aLink" src='/assets/images/Venus.png'></a>
			</div>
			<div class="planete5">
				<a href="/planet?id=4" id="test3" class="text-decoration-none"><img id="pwouette3" class="bLink" src='/assets/images/earth.png'></a>
			</div>
			<div class="planete3">
				<a href="/planet?id=5" id="test4" class="text-decoration-none"><img id="pwouette4" class="aLink" src='/assets/images/pandora.png'></a>
			</div>
		</div>

		{% include "_footer.html.twig" %}
		{% block javascript %}
			<script src="/assets/js/zoomImg.js"></script>
		{% endblock %}
	</body>
{% endblock %}
