<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">

		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/root.css">
		<link rel="stylesheet" href="/assets/css/planets.css"> {% block stylesheet %}{% endblock %}{% block grandChildStylesheets %}{% endblock %}
		</head>

		<body class="background-image d-flex flex-column min-vh-100 justify-content-between"> {%  block navbar %}{% endblock %}
			<main>
				{% block content %}
					<section class="section">
						<div class="container">
							<div class="planet-background card m-5 p-5">
								<img src="/assets/images/Planete 1.png" class="card-img" alt="Une belle image de planète">
								<div class="card-img-overlay text-light">
									<h1 class="title card-title m-3">{{ planet.name }}Hello!</h1>
									<h2 class="subtitle fs-3 m-3 mt-5">Informations</h2>
									<p class="text card-text m-3">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								</br>
								<h2 class="subtitle fs-3 m-3">Notre package exclusif inclut:</h2>
								<p class="text card-text m-3 mb-5">Another paragraph here with allll the activities!</p>
								<div class="d-flex align-items-end justify-content-between m-3">
									<a class="text btn btn-primary m-3" href="/SolarSysteme">Retour à nos voyages</a>
									<a class="text btn btn-primary m-3" href="/contact">Rejoignez l'expédition</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			{% endblock %}
		</body>
	</html>
</main>
{% include "_footer.html.twig" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

{% block javascript %}{% endblock %}</body></html></head>
